# Mount Notebook to Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
FOLDERNAME = 'vaccine_data'
assert FOLDERNAME is not None, "[!] Enter the foldername."

import sys
PATH = '/content/drive/Shared drives/CS129_Milestone/{}'.format(FOLDERNAME)
sys.path.append(PATH)

%cd $PATH

Mounted at /content/drive
/content/drive/Shared drives/CS129_Milestone/vaccine_data

##Original Data: https://github.com/myprogrammerpersonality/vaccine-sideeffect-prediction

# Data Reading
For now, we read only the data for the first dose

In [ ]:
import pandas as pd

In [ ]:
df_AstraZena_1 = pd.read_csv('AstraZeneca_1_2021-07-31.csv')
df_Covaxin_1 = pd.read_csv('Covaxin_1_2021-09-06.csv')
df_Moderna_1A = pd.read_csv('MRNA_1_2021-09-09.csv')
df_Moderna_1B = pd.read_csv('Moderna_1_2021-09-09.csv')
df_Pfizer_1 = pd.read_csv('Pfizer_1_2021-09-09.csv')
df_Sino_1 = pd.read_csv('Sinopharm_1_2021-07-31.csv')
df_Sputnik_1 = pd.read_csv('SputnikV_1_2021-07-31.csv')

In [ ]:
print(df_AstraZena_1.shape)
print(df_Covaxin_1.shape)
print(df_Moderna_1A.shape)
print(df_Moderna_1B.shape)
print(df_Pfizer_1.shape)
print(df_Sino_1.shape)
print(df_Sputnik_1.shape)

(6118, 59)
(814, 59)
(556, 59)
(276, 59)
(280, 59)
(5460, 59)
(7394, 59)

Note: 0 = Male, 1 = Female

In [ ]:
df_AstraZena_1.head()

,Sex,Age,Height,Weight,A,AB,B,O,Smoking,Narcotics,...,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Needle_Redness,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Other,Dose1_Needle_Swelling,BMI
0,0,33.0,164.0,56.0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,20.820940
1,0,33.0,164.0,56.0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,20.820940
2,0,41.0,156.0,70.0,1,0,0,0,1,0,...,1,1,0,0,0,1,1,0,0,28.763971
3,0,62.0,157.0,65.0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,26.370238
4,0,25.0,163.0,73.0,0,0,1,0,0,0,...,1,1,0,1,0,1,1,0,0,27.475629

In [ ]:
df_Moderna_1A.head()

,Sex,Age,Height,Weight,A,AB,B,O,Smoking,Narcotics,...,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Needle_Redness,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Other,Dose1_Needle_Swelling,BMI
0,1,32,160.0,56.0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,21.875000
1,1,34,178.0,76.0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,23.986870
2,1,37,174.0,80.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,26.423570
3,0,24,170.0,73.0,0,0,0,1,0,0,...,1,1,0,0,1,0,0,1,1,25.259516
4,1,30,171.0,62.0,1,0,0,0,1,0,...,1,1,1,0,0,0,0,0,0,21.203105

# Data Cleaning
1. Remove the BMI feature since that's repeat of the weight and height input feature

In [ ]:
df_AstraZena_1 = df_AstraZena_1.drop('BMI', axis=1)
df_Covaxin_1 = df_Covaxin_1.drop('BMI', axis=1)
df_Moderna_1A = df_Moderna_1A.drop('BMI', axis=1)
df_Moderna_1B = df_Moderna_1B.drop('BMI', axis=1)
df_Pfizer_1 = df_Pfizer_1.drop('BMI', axis=1)
df_Sino_1 = df_Sino_1.drop('BMI', axis=1)
df_Sputnik_1 = df_Sputnik_1.drop('BMI', axis=1)

In [ ]:
df_AstraZena_1.head()

,Sex,Age,Height,Weight,A,AB,B,O,Smoking,Narcotics,...,Dose1_Needle_Pain,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Needle_Redness,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Other,Dose1_Needle_Swelling
0,0,33.0,164.0,56.0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,0
1,0,33.0,164.0,56.0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,0
2,0,41.0,156.0,70.0,1,0,0,0,1,0,...,1,1,1,0,0,0,1,1,0,0
3,0,62.0,157.0,65.0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,0,25.0,163.0,73.0,0,0,1,0,0,0,...,1,1,1,0,1,0,1,1,0,0

2. Remove the "other" side effect (keep the 8 side effects: fever, fatigue, headache, nausea, chills, joint pain, muscle pain, and injection site reactions)

In [ ]:
df_AstraZena_1 = df_AstraZena_1.drop('Dose1_Other', axis=1)
df_Covaxin_1 = df_Covaxin_1.drop('Dose1_Other', axis=1)
df_Moderna_1A = df_Moderna_1A.drop('Dose1_Other', axis=1)
df_Moderna_1B = df_Moderna_1B.drop('Dose1_Other', axis=1)
df_Pfizer_1 = df_Pfizer_1.drop('Dose1_Other', axis=1)
df_Sino_1 = df_Sino_1.drop('Dose1_Other', axis=1)
df_Sputnik_1 = df_Sputnik_1.drop('Dose1_Other', axis=1)

3. We have multiple sub-categories for injection site reactions (needle pain, needle redness, needle swelling) - we will just combine them into ONE category, i.e., if there's 1 in at least one of the sub-categories, then it's a 1 for the injection site reactions

3a. We first combine the three cols

In [ ]:
df_AstraZena_1['Dose1_Needle'] = df_AstraZena_1['Dose1_Needle_Pain'] + df_AstraZena_1['Dose1_Needle_Redness'] + df_AstraZena_1['Dose1_Needle_Swelling']

In [ ]:

df_AstraZena_1.head()

,Sex,Age,Height,Weight,A,AB,B,O,Smoking,Narcotics,...,Dose1_Needle_Pain,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Needle_Redness,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Needle_Swelling,Dose1_Needle
0,0,33.0,164.0,56.0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
1,0,33.0,164.0,56.0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
2,0,41.0,156.0,70.0,1,0,0,0,1,0,...,1,1,1,0,0,0,1,1,0,1
3,0,62.0,157.0,65.0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,0,25.0,163.0,73.0,0,0,1,0,0,0,...,1,1,1,0,1,0,1,1,0,1

In [ ]:
print(df_AstraZena_1['Dose1_Needle'].min())
print(df_AstraZena_1['Dose1_Needle'].max())

0
3

In [ ]:
df_Covaxin_1['Dose1_Needle'] = df_Covaxin_1['Dose1_Needle_Pain'] + df_Covaxin_1['Dose1_Needle_Redness'] + df_Covaxin_1['Dose1_Needle_Swelling']
df_Moderna_1A['Dose1_Needle'] = df_Moderna_1A['Dose1_Needle_Pain'] + df_Moderna_1A['Dose1_Needle_Redness'] + df_Moderna_1A['Dose1_Needle_Swelling']
df_Moderna_1B['Dose1_Needle'] = df_Moderna_1B['Dose1_Needle_Pain'] + df_Moderna_1B['Dose1_Needle_Redness'] + df_Moderna_1B['Dose1_Needle_Swelling']
df_Pfizer_1['Dose1_Needle'] = df_Pfizer_1['Dose1_Needle_Pain'] + df_Pfizer_1['Dose1_Needle_Redness'] + df_Pfizer_1['Dose1_Needle_Swelling']
df_Sino_1['Dose1_Needle'] = df_Sino_1['Dose1_Needle_Pain'] + df_Sino_1['Dose1_Needle_Redness'] + df_Sino_1['Dose1_Needle_Swelling']
df_Sputnik_1['Dose1_Needle'] = df_Sputnik_1['Dose1_Needle_Pain'] + df_Sputnik_1['Dose1_Needle_Redness'] + df_Sputnik_1['Dose1_Needle_Swelling']

3b. Delete all other needle sub-category cols, and if the column value is > 0 then it means there was needle problem

In [ ]:
df_AstraZena_1 = df_AstraZena_1.drop('Dose1_Needle_Pain', axis=1)
df_Covaxin_1 = df_Covaxin_1.drop('Dose1_Needle_Pain', axis=1)
df_Moderna_1A = df_Moderna_1A.drop('Dose1_Needle_Pain', axis=1)
df_Moderna_1B = df_Moderna_1B.drop('Dose1_Needle_Pain', axis=1)
df_Pfizer_1 = df_Pfizer_1.drop('Dose1_Needle_Pain', axis=1)
df_Sino_1 = df_Sino_1.drop('Dose1_Needle_Pain', axis=1)
df_Sputnik_1 = df_Sputnik_1.drop('Dose1_Needle_Pain', axis=1)

In [ ]:
df_AstraZena_1 = df_AstraZena_1.drop('Dose1_Needle_Redness', axis=1)
df_Covaxin_1 = df_Covaxin_1.drop('Dose1_Needle_Redness', axis=1)
df_Moderna_1A = df_Moderna_1A.drop('Dose1_Needle_Redness', axis=1)
df_Moderna_1B = df_Moderna_1B.drop('Dose1_Needle_Redness', axis=1)
df_Pfizer_1 = df_Pfizer_1.drop('Dose1_Needle_Redness', axis=1)
df_Sino_1 = df_Sino_1.drop('Dose1_Needle_Redness', axis=1)
df_Sputnik_1 = df_Sputnik_1.drop('Dose1_Needle_Redness', axis=1)

In [ ]:
df_AstraZena_1 = df_AstraZena_1.drop('Dose1_Needle_Swelling', axis=1)
df_Covaxin_1 = df_Covaxin_1.drop('Dose1_Needle_Swelling', axis=1)
df_Moderna_1A = df_Moderna_1A.drop('Dose1_Needle_Swelling', axis=1)
df_Moderna_1B = df_Moderna_1B.drop('Dose1_Needle_Swelling', axis=1)
df_Pfizer_1 = df_Pfizer_1.drop('Dose1_Needle_Swelling', axis=1)
df_Sino_1 = df_Sino_1.drop('Dose1_Needle_Swelling', axis=1)
df_Sputnik_1 = df_Sputnik_1.drop('Dose1_Needle_Swelling', axis=1)

In [ ]:
df_AstraZena_1.head()

,Sex,Age,Height,Weight,A,AB,B,O,Smoking,Narcotics,...,Covid_Symptom_11,Covid_Severity,Dose1_Fever,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Needle
0,0,33.0,164.0,56.0,0,0,0,1,0,0,...,0.0,0,0,0,1,0,0,0,0,1
1,0,33.0,164.0,56.0,0,0,0,1,0,0,...,0.0,0,0,0,1,0,0,0,0,1
2,0,41.0,156.0,70.0,1,0,0,0,1,0,...,0.0,0,0,1,1,0,0,1,1,1
3,0,62.0,157.0,65.0,0,1,0,0,1,0,...,0.0,0,0,1,0,0,0,0,0,0
4,0,25.0,163.0,73.0,0,0,1,0,0,0,...,0.0,0,1,1,1,0,1,1,1,1

In [ ]:
print(df_AstraZena_1.shape)
print(df_Covaxin_1.shape)
print(df_Moderna_1A.shape)
print(df_Moderna_1B.shape)
print(df_Pfizer_1.shape)
print(df_Sino_1.shape)
print(df_Sputnik_1.shape)

(6118, 55)
(814, 55)
(556, 55)
(276, 55)
(280, 55)
(5460, 55)
(7394, 55)

In [ ]:
df_AstraZena_1.loc[df_AstraZena_1['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1

In [ ]:
print(df_AstraZena_1['Dose1_Needle'].min())
print(df_AstraZena_1['Dose1_Needle'].max())

0
1

In [ ]:
df_Covaxin_1.loc[df_Covaxin_1['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1
df_Moderna_1A.loc[df_Moderna_1A['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1
df_Moderna_1B.loc[df_Moderna_1B['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1
df_Pfizer_1.loc[df_Pfizer_1['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1
df_Sino_1.loc[df_Sino_1['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1
df_Sputnik_1.loc[df_Sputnik_1['Dose1_Needle'] > 0, 'Dose1_Needle'] = 1

In [ ]:
print(df_Sino_1['Dose1_Needle'].min())
print(df_Sino_1['Dose1_Needle'].max())

0
1

4. Now we have to make colums for each vaccine type and enter binary values (1 = if it's that vaccine, 0 if it's not the vaccine named in the column)

In [ ]:
df_Covaxin_1.insert(0, 'Covaxin', 1)

In [ ]:
df_Covaxin_1.insert(0, 'AstraZeneca', 0)

In [ ]:
df_Covaxin_1.insert(2, 'Moderna', 0)
df_Covaxin_1.insert(3, 'Pfizer', 0)
df_Covaxin_1.insert(4, 'Sinopharm', 0)
df_Covaxin_1.insert(5, 'Sputnik', 0)

In [ ]:
df_Covaxin_1.head()

,AstraZeneca,Covaxin,Moderna,Pfizer,Sinopharm,Sputnik,Sex,Age,Height,Weight,...,Covid_Symptom_11,Covid_Severity,Dose1_Fever,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Needle
0,0,1,0,0,0,0,1,31.0,179.0,80.0,...,0.0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,1,24.0,187.0,100.0,...,0.0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,41.0,167.0,57.0,...,0.0,0,0,1,0,1,1,1,1,1
3,0,1,0,0,0,0,0,36.0,165.0,95.0,...,0.0,0,0,1,1,0,0,0,1,1
4,0,1,0,0,0,0,0,42.0,158.0,64.0,...,0.0,0,0,1,0,1,0,0,0,1

In [ ]:
df_AstraZena_1.insert(0, 'AstraZeneca', 1)
df_AstraZena_1.insert(1, 'Covaxin', 0)
df_AstraZena_1.insert(2, 'Moderna', 0)
df_AstraZena_1.insert(3, 'Pfizer', 0)
df_AstraZena_1.insert(4, 'Sinopharm', 0)
df_AstraZena_1.insert(5, 'Sputnik', 0)

In [ ]:
df_AstraZena_1.head()

,AstraZeneca,Covaxin,Moderna,Pfizer,Sinopharm,Sputnik,Sex,Age,Height,Weight,...,Covid_Symptom_11,Covid_Severity,Dose1_Fever,Dose1_Fatigue,Dose1_Headache,Dose1_Nausea,Dose1_Chills,Dose1_Joint_Pain,Dose1_Muscle_Pain,Dose1_Needle
0,1,0,0,0,0,0,0,33.0,164.0,56.0,...,0.0,0,0,0,1,0,0,0,0,1
1,1,0,0,0,0,0,0,33.0,164.0,56.0,...,0.0,0,0,0,1,0,0,0,0,1
2,1,0,0,0,0,0,0,41.0,156.0,70.0,...,0.0,0,0,1,1,0,0,1,1,1
3,1,0,0,0,0,0,0,62.0,157.0,65.0,...,0.0,0,0,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0,25.0,163.0,73.0,...,0.0,0,1,1,1,0,1,1,1,1

In [ ]:
df_Moderna_1A.insert(0, 'AstraZeneca', 0)
df_Moderna_1A.insert(1, 'Covaxin', 0)
df_Moderna_1A.insert(2, 'Moderna', 1)
df_Moderna_1A.insert(3, 'Pfizer', 0)
df_Moderna_1A.insert(4, 'Sinopharm', 0)
df_Moderna_1A.insert(5, 'Sputnik', 0)

In [ ]:
df_Moderna_1B.insert(0, 'AstraZeneca', 0)
df_Moderna_1B.insert(1, 'Covaxin', 0)
df_Moderna_1B.insert(2, 'Moderna', 1)
df_Moderna_1B.insert(3, 'Pfizer', 0)
df_Moderna_1B.insert(4, 'Sinopharm', 0)
df_Moderna_1B.insert(5, 'Sputnik', 0)

In [ ]:
df_Pfizer_1.insert(0, 'AstraZeneca', 0)
df_Pfizer_1.insert(1, 'Covaxin', 0)
df_Pfizer_1.insert(2, 'Moderna', 0)
df_Pfizer_1.insert(3, 'Pfizer', 1)
df_Pfizer_1.insert(4, 'Sinopharm', 0)
df_Pfizer_1.insert(5, 'Sputnik', 0)

In [ ]:
df_Sino_1.insert(0, 'AstraZeneca', 0)
df_Sino_1.insert(1, 'Covaxin', 0)
df_Sino_1.insert(2, 'Moderna', 0)
df_Sino_1.insert(3, 'Pfizer', 0)
df_Sino_1.insert(4, 'Sinopharm', 1)
df_Sino_1.insert(5, 'Sputnik', 0)

In [ ]:
df_Sputnik_1.insert(0, 'AstraZeneca', 0)
df_Sputnik_1.insert(1, 'Covaxin', 0)
df_Sputnik_1.insert(2, 'Moderna', 0)
df_Sputnik_1.insert(3, 'Pfizer', 0)
df_Sputnik_1.insert(4, 'Sinopharm', 0)
df_Sputnik_1.insert(5, 'Sputnik', 1)

In [ ]:
print(df_AstraZena_1.shape)
print(df_Covaxin_1.shape)
print(df_Moderna_1A.shape)
print(df_Moderna_1B.shape)
print(df_Pfizer_1.shape)
print(df_Sino_1.shape)
print(df_Sputnik_1.shape)

(6118, 61)
(814, 61)
(556, 61)
(276, 61)
(280, 61)
(5460, 61)
(7394, 61)

5. Check for duplicates between Moderna_1A and Moderna_1B, delete dups, and merge

In [ ]:
row_1 = df_Moderna_1A.shape[0]
row_2 = df_Moderna_1B.shape[0]

In [ ]:
repeats_idx_1A = []
for i in range(row_1):
  for j in range(row_2):
    if (df_Moderna_1A.loc[i].equals(df_Moderna_1B.loc[j])):
      repeats_idx_1A.append(i)

In [ ]:
print(repeats_idx_1A)
print(len(repeats_idx_1A))

[280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555]
276

In [ ]:
print(df_Moderna_1A.shape)

(556, 61)

In [ ]:
df_Moderna_1A = df_Moderna_1A.drop(repeats_idx_1A)

In [ ]:
print(df_Moderna_1A.shape)

(280, 61)

Lol it turns out everything in 1B was just a subset of the data in Moderna 1A

6. Combine ALL data to one dataframe

In [ ]:
df_X = pd.concat([df_AstraZena_1, df_Covaxin_1, df_Moderna_1A, df_Moderna_1B, df_Pfizer_1, df_Sino_1, df_Sputnik_1])

In [ ]:
print(df_X.shape)

(20622, 61)

# Explore the data

*   See how prevalent a certain feature is

*   Define Signficantly sparse features to be <=1.19%: which are Alcohol, Narcotics, Symptoms [8, 11, 13], Covid symptoms [6, 7]

* Should we inc. Symptom 15? Feature 15 just means there were no symptoms and Covid_test feature just means the person had covid in the past (they're repeated features) -> they're correlated features

In [ ]:
print(df_X.shape)

(20622, 61)

In [ ]:
total = df_X['Sex'].value_counts()[0] + df_X['Sex'].value_counts()[1]
print(df_X['Sex'].value_counts()[1] / total)

0.46877121520706044

In [ ]:
total = df_X['A'].value_counts()[0] + df_X['A'].value_counts()[1]
print(df_X['A'].value_counts()[1] / total)

0.31296673455532925

In [ ]:
total = df_X['AB'].value_counts()[0] + df_X['AB'].value_counts()[1]
print(df_X['AB'].value_counts()[1] / total)

0.09635340898070022

In [ ]:
total = df_X['B'].value_counts()[0] + df_X['B'].value_counts()[1]
print(df_X['B'].value_counts()[1] / total)

0.21792260692464357

In [ ]:
total = df_X['O'].value_counts()[0] + df_X['O'].value_counts()[1]
print(df_X['O'].value_counts()[1] / total)

0.3672776646300068

In [ ]:
total = df_X['Smoking'].value_counts()[0] + df_X['Smoking'].value_counts()[1]
print(df_X['Smoking'].value_counts()[1] / total)

0.16196295218698478

In [ ]:
total = df_X['Narcotics'].value_counts()[0] + df_X['Narcotics'].value_counts()[1]
print(df_X['Narcotics'].value_counts()[1] / total)

0.0119290078556881

In [ ]:
total = df_X['Alcohol'].value_counts()[0] + df_X['Alcohol'].value_counts()[1]
print(df_X['Alcohol'].value_counts()[1] / total)

0.013141305401997866

Symptoms 0 - 15:

In [ ]:
total = df_X['Symptom_0'].value_counts()[0] + df_X['Symptom_0'].value_counts()[1]
print(df_X['Symptom_0'].value_counts()[1] / total)

0.07409562603045292

In [ ]:
total = df_X['Symptom_1'].value_counts()[0] + df_X['Symptom_1'].value_counts()[1]
print(df_X['Symptom_1'].value_counts()[1] / total)

0.0721074580545049

In [ ]:
total = df_X['Symptom_2'].value_counts()[0] + df_X['Symptom_2'].value_counts()[1]
print(df_X['Symptom_2'].value_counts()[1] / total)

0.14300261856270002

In [ ]:
total = df_X['Symptom_3'].value_counts()[0] + df_X['Symptom_3'].value_counts()[1]
print(df_X['Symptom_3'].value_counts()[1] / total)

0.027834351663272233

In [ ]:
total = df_X['Symptom_4'].value_counts()[0] + df_X['Symptom_4'].value_counts()[1]
print(df_X['Symptom_4'].value_counts()[1] / total)

0.0062069634371060035

In [ ]:
total = df_X['Symptom_5'].value_counts()[0] + df_X['Symptom_5'].value_counts()[1]
print(df_X['Symptom_5'].value_counts()[1] / total)

0.02909514111143439

In [ ]:
total = df_X['Symptom_6'].value_counts()[0] + df_X['Symptom_6'].value_counts()[1]
print(df_X['Symptom_6'].value_counts()[1] / total)

0.02924061681699156

In [ ]:
total = df_X['Symptom_7'].value_counts()[0] + df_X['Symptom_7'].value_counts()[1]
print(df_X['Symptom_7'].value_counts()[1] / total)

0.025070313257685967

In [ ]:
total = df_X['Symptom_8'].value_counts()[0] + df_X['Symptom_8'].value_counts()[1]
print(df_X['Symptom_8'].value_counts()[1] / total)

0.011007661720492678

In [ ]:
total = df_X['Symptom_9'].value_counts()[0] + df_X['Symptom_9'].value_counts()[1]
print(df_X['Symptom_9'].value_counts()[1] / total)

0.06454272136553195

In [ ]:
total = df_X['Symptom_10'].value_counts()[0] + df_X['Symptom_10'].value_counts()[1]
print(df_X['Symptom_10'].value_counts()[1] / total)

0.03234409853554456

In [ ]:
total = df_X['Symptom_11'].value_counts()[0] + df_X['Symptom_11'].value_counts()[1]
print(df_X['Symptom_11'].value_counts()[1] / total)

0.01799049558723693

In [ ]:
total = df_X['Symptom_12'].value_counts()[0] + df_X['Symptom_12'].value_counts()[1]
print(df_X['Symptom_12'].value_counts()[1] / total)

0.06939191155077103

In [ ]:
total = df_X['Symptom_13'].value_counts()[0] + df_X['Symptom_13'].value_counts()[1]
print(df_X['Symptom_13'].value_counts()[1] / total)

0.015226457181650664

In [ ]:
total = df_X['Symptom_14'].value_counts()[0] + df_X['Symptom_14'].value_counts()[1]
print(df_X['Symptom_14'].value_counts()[1] / total)

0.1368441470274464

In [ ]:
total = df_X['Symptom_15'].value_counts()[0] + df_X['Symptom_15'].value_counts()[1]
print(df_X['Symptom_15'].value_counts()[1] / total)

0.5418485112986131

In [ ]:
total = df_X['Symptom_15'].value_counts()[0] + df_X['Symptom_15'].value_counts()[1]
print(df_X['Symptom_15'].value_counts()[1] / total)

0.5418485112986131

In [ ]:
total = df_X['Hormon_Drug'].value_counts()[0] + df_X['Hormon_Drug'].value_counts()[1]
print(df_X['Hormon_Drug'].value_counts()[1] / total)

0.040539229948598585

In [ ]:
total = df_X['Pregnancy'].value_counts()[0] + df_X['Pregnancy'].value_counts()[1]
print(df_X['Pregnancy'].value_counts()[1] / total)

0.139026282610804

In [ ]:
total = df_X['Respiratory_Spray'].value_counts()[0] + df_X['Respiratory_Spray'].value_counts()[1]
print(df_X['Respiratory_Spray'].value_counts()[1] / total)

0.16453302298516148

In [ ]:
total = df_X['Corton_Drug'].value_counts()[0] + df_X['Corton_Drug'].value_counts()[1]
print(df_X['Corton_Drug'].value_counts()[1] / total)

0.14368150518863348

In [ ]:
total = df_X['Chemotherapy'].value_counts()[0] + df_X['Chemotherapy'].value_counts()[1]
print(df_X['Chemotherapy'].value_counts()[1] / total)

0.11836873242168558

In [ ]:
total = df_X['Imunossupressor'].value_counts()[0] + df_X['Imunossupressor'].value_counts()[1]
print(df_X['Imunossupressor'].value_counts()[1] / total)

0.13383764911259818

In [ ]:
total = df_X['Covid_Test'].value_counts()[0] + df_X['Covid_Test'].value_counts()[1]
print(df_X['Covid_Test'].value_counts()[1] / total)

0.2797982736882941

In [ ]:
total = df_X['Covid_Symptom_0'].value_counts()[0] + df_X['Covid_Symptom_0'].value_counts()[1]
print(df_X['Covid_Symptom_0'].value_counts()[1] / total)

0.190912617592862

In [ ]:
total = df_X['Covid_Symptom_1'].value_counts()[0] + df_X['Covid_Symptom_1'].value_counts()[1]
print(df_X['Covid_Symptom_1'].value_counts()[1] / total)

0.23314906410629424

In [ ]:
total = df_X['Covid_Symptom_2'].value_counts()[0] + df_X['Covid_Symptom_2'].value_counts()[1]
print(df_X['Covid_Symptom_2'].value_counts()[1] / total)

0.1363592280089225

In [ ]:
total = df_X['Covid_Symptom_3'].value_counts()[0] + df_X['Covid_Symptom_3'].value_counts()[1]
print(df_X['Covid_Symptom_3'].value_counts()[1] / total)

0.09407428959363787

In [ ]:
total = df_X['Covid_Symptom_4'].value_counts()[0] + df_X['Covid_Symptom_4'].value_counts()[1]
print(df_X['Covid_Symptom_4'].value_counts()[1] / total)

0.15265250703132577

In [ ]:
total = df_X['Covid_Symptom_5'].value_counts()[0] + df_X['Covid_Symptom_5'].value_counts()[1]
print(df_X['Covid_Symptom_5'].value_counts()[1] / total)

0.07501697216564834

In [ ]:
total = df_X['Covid_Symptom_6'].value_counts()[0] + df_X['Covid_Symptom_6'].value_counts()[1]
print(df_X['Covid_Symptom_6'].value_counts()[1] / total)

0.012268451168654835

In [ ]:
total = df_X['Covid_Symptom_7'].value_counts()[0] + df_X['Covid_Symptom_7'].value_counts()[1]
print(df_X['Covid_Symptom_7'].value_counts()[1] / total)

0.007564736688972942

In [ ]:
total = df_X['Covid_Symptom_8'].value_counts()[0] + df_X['Covid_Symptom_8'].value_counts()[1]
print(df_X['Covid_Symptom_8'].value_counts()[1] / total)

0.06594898651925128

In [ ]:
total = df_X['Covid_Symptom_9'].value_counts()[0] + df_X['Covid_Symptom_9'].value_counts()[1]
print(df_X['Covid_Symptom_9'].value_counts()[1] / total)

0.1639996120647852

In [ ]:
total = df_X['Covid_Symptom_10'].value_counts()[0] + df_X['Covid_Symptom_10'].value_counts()[1]
print(df_X['Covid_Symptom_10'].value_counts()[1] / total)

0.09965085830666279

In [ ]:
total = df_X['Covid_Symptom_11'].value_counts()[0] + df_X['Covid_Symptom_11'].value_counts()[1]
print(df_X['Covid_Symptom_11'].value_counts()[1] / total)

0.0855397148676171

In [ ]:
total = df_X['Covid_Severity'].value_counts()[0] + df_X['Covid_Severity'].value_counts()[1]
print(df_X['Covid_Severity'].value_counts()[1] / total)

0.02448841043545728

# More Data Cleaning
Remove more correlated features like symptom 15 and covid_test

In [ ]:
print(df_X.shape)

(20622, 61)

In [ ]:
df_X = df_X.drop('Symptom_15', axis=1)

In [ ]:
print(df_X.shape)

(20622, 60)

In [ ]:
df_X = df_X.drop('Covid_Test', axis=1)
print(df_X.shape)

(20622, 59)

In [ ]:
df_X = df_X.drop('Narcotics', axis=1)
print(df_X.shape)

(20622, 58)

In [ ]:
df_X = df_X.drop('Alcohol', axis=1)
print(df_X.shape)

(20622, 57)

# Export df_X to a clean .csv file

In [ ]:
df_X.to_csv('cleaned_data_0320.csv', index=False)